<section class="projects-section">
    <h2>My Projects</h2>
    <p>Here are some of the projects I’ve worked on as I learn Java development:</p>
    <ul>
        <li><strong>Project 1:</strong> EmplyeeManagement, an app that manage employees</li>
        <li><strong>Project 2:</strong> A simple calculator app</li>
        <li><strong>Project 3:</strong> SportFlow, an App that manage a gym club</li>
        <li><strong>Project 4:</strong> EduManager, A website of managing students</li>
        <li><strong>Project 5:</strong> Weather App</li>
        <li><strong>Project 6:</strong> SmartRecrute, a website of employment</li>



    </ul>
    <p>These projects are a work in progress as I continue to grow my skills. Stay tuned for more!</p>
</section>