<ul>
  <li>
    <a href="https://github.com/yassinehaa/EmployeeManagement.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 1">
      <strong>Project 1:</strong> EmployeeManagement – an app that manages employees
    </a>
  </li>
  <li>
    <a href="https://github.com/yassinehaa/calculator.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 2">
      <strong>Project 2:</strong> A simple calculator app
    </a>
  </li>
  <li>
    <a href="https://github.com/yassinehaa/SportFlow.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 3">
      <strong>Project 3:</strong> SportFlow – manage a gym club
    </a>
  </li>
  <li>
    <a href="https://github.com/simodev744/EduManager.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 4">
      <strong>Project 4:</strong> EduManager – manage students
    </a>
  </li>
  <li>
    <a href="https://github.com/yassinehaa/weather.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 5">
      <strong>Project 5:</strong> Weather App
    </a>
  </li>
  <li>
    <a href="https://github.com/simodev744/SmartRecrute.git" target="_blank">
      <img class="img-fluid" src="assets/GitHub__headpic.webp" alt="Project 6">
      <strong>Project 6:</strong> SmartRecrute – employment website
    </a>
  </li>
</ul>
