
    <div class="homeAppearence">
      <div class="image-container">
        <img class="img-fluid" src="assets/IMG_4515.jpg" alt="yassine">
      </div>
      <section class="home-section">
        <h1>{{titre}}</h1>
        <p>{{bio}}</p>
        <ul>
          <li><i class="bi bi-envelope-fill me-2"></i><strong>Email:</strong> {{ mail }}</li>
          <li>
            <i class="bi bi-linkedin me-2"></i><strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/yassineha/" target="_blank">linkedin.com/in/yassineha</a>
          </li>
          <li>
            <i class="bi bi-github me-2"></i><strong>GitHub:</strong>
            <a href="https://github.com/yassinehaa" target="_blank">github.com/yassineha</a>
          </li>
        </ul>
      </section>
    </div>

